<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="El Dr. Almicar Sánchez y Sánchez ofrece tratamientos farmacológicos y/o intervencionistas. Atiende desde dolores comunes, 
    hasta pacientes con enfermedades crónico degenerativas, avanzadas y terminales.
    El Dr. Amílcar Sánchez y Sánchez es especialista en algología y medicina del dolor.">
    <title>Dr. Almicar Sánchez y Sánchez | Especialista en dolor</title>
    <link rel="stylesheet" href="../public/assets/stylesheet/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
  <section class="banner-area">
    <div class="text-banner">
      <div class="level-center">
        <h2>Especialista en dolor</h2>
        <h1>Dr. Amílcar Sánchez y Sánchez</h1>
        <a href="#contact-me-section" class="button is-outlined is-info is-size-5">Contacto</a>
      </div>
    </div>
  </section>
  <div class="section my-6">
    <div class="columns">
      <div class="column is-full">
        <div class="info-section">
          <h2>Dr. Amílcar Sánchez y Sánchez</h2>
          <h3>Deje su salud en manos de un profesional</h3>
          <p class="has-text-justified">
            El Dr. Amílcar Sánchez y Sánchez es especialista en algología y medicina del dolor. <br>
            Ofrece tratamientos farmacológicos y/o intervencionistas. Atiende desde dolores comunes, 
            hasta pacientes con enfermedades crónico degenerativas, avanzadas y terminales. Su principal 
            objetivo es atender y aliviar su dolor con un adecuado manejo, así como total control de los 
            síntomas que conlleva su enfermedad. Ofrece un trato digno, confiable y de calidad, aplicando 
            a las últimas técnicas, diagnósticos y terapias.
          </p>
          <a href="#contact-me-section" class="button is-link is-outlined is-size-5">Agendar una cita</a>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div>
      <div class="specialties_title has-text-centered is-flex-wrap">
        <div class="section_title">
          <h3>Especialidades</h3>
        </div>
      </div>  
      <div class="columns is-flex-wrap has-text-justify">
        <div class="column">
          <ul>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Problemas de dolor</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor ciática</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor sacroilíaco</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor creaneofacial</li>
        </div>
        <div class="column">
          <ul>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor oncológico</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Algólogo intervencionista</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor crónico</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor pélvico</li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Fracturas</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Columna cervical</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Algología</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor lumbar</li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor dorsal</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Dolor neuropático</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Hernias</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Colapso vertebral</li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Neurología del trigémino</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Herpes zoster</li>
            <li><span class="icon has-text-info"><i class="fa fa-check"></i></span>Neuropatía diabética</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="level">
      <div class="level-item has-text-centered">
        <div class="section_title">
          <h3>Galería</h3>
        </div>
      </div>
    </div>
    <div class="columns is-gapless">
      <div class="column">
        <img src="../public/assets/img/galeria-1.jpg" alt="">
      </div>
      <div class="column">
        <img src="../public/assets/img/galeria-2.jpg" alt="">
      </div>
      <div class="column">
        <img src="../public/assets/img/galeria-3.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="mt-6" id="contact-me-section">
    <div class="level">
      <div class="level-item has-text-centered">
        <div class="section_title">
          <h3>Contáctame</h3>
        </div>
      </div>
    </div>
    <div class="columns is-desktop is-gapless">
      <div class="column is-half-desktop is-full-mobile">
        <form action="">
          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input name="name" id="name" class="input" type="text" placeholder="Nombre">
            </div>
          </div>
          <div class="columns is-mobile">
            <div class="column is-6">
              <div class="field">
                <label class="label" for="e-mail">Correo eletrónico</label>
                <div class="control">
                  <input name="e-mail" id="e-mail" class="input" type="e-mail" placeholder="Correo">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label" for="">Teléfono</label>
                <div class="control">
                  <input name="phone" id="phone" class="input" type="tel" maxlength="10" placeholder="Teléfono">
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label" for="Message">Mensaje</label>
            <div class="control">
              <textarea class="textarea" name="Message" id="Message" cols="20" rows="5" placeholder="Su mensaje"></textarea>
            </div>
          </div>
          <div class="level-right">
            <div class="control">
              <button class="button is-primary is-medium" type="button" id="contact-form-button">Enviár mensaje</button>
            </div>
          </div>
        </form>
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <div class="contact-info">
          <div class="contact-info-items">
            <div class="is-item-contact">
              <i class="fa fa-envelope"></i>
              <a href="mailto:some@email.com">example@email.com.mx</a>
            </div>
            <div class="is-item-contact" >
              <i class="fa fa-phone"></i>
              <a href="tel:3123135533">(312)313-5533</a>
            </div>
          </div>          
          <div class="contact-info-items">
            <div class="is-item-contact" >
              <i class="fa fa-map-marker"></i>
              <a href="https://www.google.com.mx/maps/place/Calle+Gabino+Barreda+269,+Centro,+28000+Colima,+Col./@19.2474158,-103.7261515,17z/data=!3m1!4b1!4m5!3m4!1s0x84255aaddcb1dfa7:0xc8669c9290b0ee3c!8m2!3d19.2474107!4d-103.7239628"  target="__blank"> Calle Gabino Barreda 269 <br> Colonia centro 28000 <br> Colima, Col. </a>
            </div>
            <div class="is-item-contact">
              <i class="fa fa-clock-o"></i>
              <p>
                Horarios <br>
                Lunes a Viernes de 10:00 a 20:00 <br>
                Sábados de 10:00 a 14:00
              </p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>
  <section>
      <div class="is-full">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.8031116185193!2d-103.72615148509615!3d19.24741068698974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255aaddcb1dfa7%3A0xc8669c9290b0ee3c!2sCalle%20Gabino%20Barreda%20269%2C%20Centro%2C%2028000%20Colima%2C%20Col.!5e0!3m2!1ses-419!2smx!4v1592276720622!5m2!1ses-419!2smx" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Esta página</strong> fue hecha con <i class="icon fa fa-heart-o"></i>
          Todos los derechos reservados Dr. Almicar Sánchez y Sánchez &copy; <span id="year"></span>
        </p>
      </div>
    </footer>
</body>
  <script>
      document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
</html>