!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title Amilcar Sanchez
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    %script{ src: './main.js' }
  %body
  = partial :navbar
  = yield
  = partial :footer
