%nav.navbar{"aria-label": "main navigation", role: "navigation"}
  .container
    .navbar-brand
      %a.navbar-item{href: "/"}
        %img{src: "/assets/images/logo.png"}
      %a.navbar-burger.burger{"aria-expanded": "false", "aria-label": "menu", "data-target": "navbarBasicExample", role: "button"}
        %span{"aria-hidden": "true"}
        %span{"aria-hidden": "true"}
        %span{"aria-hidden": "true"}
    .navbar-menu
      .navbar-end
        %a.navbar-item
          Servicios
        %a.navbar-item
          FAQ
        %a.navbar-item
          Contacto
